header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
}

main {
  padding-top: 100px;
}

.headerElement{
  margin-left: 2rem;

}

.headerLink {
  border: none;
  width: 40%;
  font-size: 24px;
  color: white;
  background-color: red;
  display: inline;
}

.logoutButton {

}

.linkContainer{
  display: flex;

}
