<header>
    <h1>Pokemon Trainer</h1>
    <nav class="linkContainer">
            <a class="headerElement headerLink" routerLink="/trainer" routerLinkActive="active">Trainer</a>
            <a class="headerElement headerLink" routerLink="/catalogue" routerLinkActive="active">Catalogue</a>
            <button (click)="updateAndLogout()" class="headerElement logoutButton" onClicrouterLink="/" routerLinkActive="active">Logout</button>
      </nav>

</header>
<main>
  <router-outlet></router-outlet>
</main>
