<div>
    <h1>Trainer: {{pokemonTrainerName()}}</h1>
    <br/>
    <h2>Your pokemon:</h2>
    <main>
        <div class="horizontal">

        <ng-container *ngFor="let pokemon of pokemons">
            <app-pokemon-display [pokemon]=pokemon></app-pokemon-display>
        </ng-container> 

        </div>
</main>

</div>

