.catalogue-container {
    /*display*/
    display: grid;
    justify-content: center;
    /*pos*/
    position: fixed;
    width: 400px;
    height: 500px;
    left: calc(50% - 200px);
    bottom: 25px;
    /*style*/
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #FF0000;
    border-radius: 1rem;
    box-shadow: 5px 5px 0px 0px #CC0000;
}

.pokemon-title {
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    background-color: white;
    background-image: url("^assets/img/dotsBG.png");
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 0px 0px black;
}

.pokemon-avatar {
    grid-row: 2;
    height: 150px;
    width: auto;
}

.info-container {
    height: fit-content;
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 0px 0px black;
}

.horizontal {
    display: flex;
    flex-wrap:wrap;
}
