<div>
    <h1 class="pokemon-title">Pokemon for sale:</h1>
    <main>
        <div class="horizontal">

            <ng-container *ngFor="let pokemon of pokemons">
                <app-pokemon-display [pokemon]=pokemon></app-pokemon-display>
            </ng-container> 
    
            </div>
</main>
</div>


<!---
<div class="catalogue-container">




    
    <h1 class="pokemon-title">Pokemon</h1>
    <div class="avatar-container">
        <img class="pokemon-avatar" src="assets/img/missingno.png" alt="Pokemon" height="500px">
    </div>
    <div class="info-container">
        <h3>Type:</h3>
        <h3>Height:</h3>
        <h3>Weight:</h3>
    </div>
</div>
    --->