<div class="pokemon">
    <img [src]="getImageURL()" [alt]="pokemon?.name">
    <br/>
    <p>{{ pokemon?.name }}</p>
    <div *ngIf="showRemove();then remove else buy"></div>  
<ng-template #remove>
    <button (click)="delete()">Remove</button>
</ng-template>
<ng-template #buy>
    <button (click)="add()" >Buy</button>
</ng-template>
</div>
