<div>
    <div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <fieldset class="mb-2">
          <label for="username" class="form-label">Username:</label>
          <input type="text"
                 ngModel
                 #username="ngModel"
                 name="usernamInput"
                 id="username"
                 required
                 minlength="2"
                 maxlength="50"
                 class="form-control" placeholder="...">
        </fieldset>

        <section *ngIf="username.errors && (username.dirty || username.touched)">
          <div class="alert alert-danger">
            <p *ngIf="username.errors.required">
              Empty username not allowed!
            </p>
            <p *ngIf="username.errors.minlength">
              Username is too short!
            </p>
          </div>
        </section>

        <button type="submit"
                [disabled]="attempting || loginForm.form.invalid"
                class="btn btn-dark d-flex p-2 align-items-center">
          Login
          <span class="material-icons">login</span>
        </button>
      </form>
      <p *ngIf="attempting">Logging in...</p>
    </div>
</div>

<!--form #createTodoForm="ngForm" (ngSubmit)="onSubmit(createTodoForm)">
  <input type="text"
         ngModel
         name="login"
         required
         placeholder="enter username..."/>
  <button type="submit" [disabled]="createTodoForm.form.invalid"></button-->
