/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Electrolize', sans-serif;
}

header {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: red;
}

body {
    background-image: url("./assets/img/pokeBG.png");
    background-size: 100px;
    background-position-x: -2rem;
}
